<div class="container" style="display: block;">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <img src="../../../assets/imagenes/escudo-boca.png" alt="" height="170px" class="centrado">
    <img src="../../../assets/imagenes/escudo-sanlorenzo.png" alt="" height="170px" class="centrado">
    <img src="../../../assets/imagenes/escudo-banfield.png" alt="" height="170px" class="centrado">
    <img src="../../../assets/imagenes/escudo-estudiantes.png" alt="" height="170px" class="centrado">
  </div>
  <div class="col-sm-6">
    <img src="../../../assets/imagenes/logoTorneo2.png" alt="No se ha podido cargar la imagen" class="centrado" > 
    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7WvrwuTlnG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-sm-2">
      <img src="../../../assets/imagenes/escudo-river.png" alt="" height="170px" class="centrado">
      <img src="../../../assets/imagenes/escudo-nacional.png" alt="" height="170px" class="centrado">
      <img src="../../../assets/imagenes/escudo-velez.png" alt="" height="170px" class="centrado">
      <img src="../../../assets/imagenes/escudo-racing.png" alt="" height="170px" class="centrado">
  </div>
  <div class="col-sm-1"></div>
</div> 