<div class="container" style="display: block;">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">
    <img src="../../../assets/imagenes/escudo-boca.png" alt="" height="125px">
    <img src="../../../assets/imagenes/escudo-sanlorenzo.png" alt="" height="125px">
    <img src="../../../assets/imagenes/escudo-velez.png" alt="" height="125px">
    <img src="../../../assets/imagenes/escudo-banfield.png" alt="" height="125px">
  </div>
  <img src="./../assets/imagenes/oie_transparent.png" alt="No se ha podido cargar la imagen" class="centrado col-sm-4">
  <div class="col-sm-2">
      <img src="../../../assets/imagenes/escudo-river.png" alt="" height="125px">
      <img src="../../../assets/imagenes/escudo-racing.png" alt="" height="125px">
      <img src="../../../assets/imagenes/escudo-estudiantes.png" alt="" height="125px">
      <img src="../../../assets/imagenes/escudo-nacional.png" alt="" height="125px">
  </div>
</div> 