<div class="container centrado">
  <div *ngFor="let grupo of gruposService.grupos">
    <h1>Grupo {{grupo[0][0].grupo}}</h1>
    <div>
      <table class="table table-bordered table-striped">
        <thead class="text-center">
          <th>Equipo</th>
          <th>PJ</th>
          <th>PG</th>
          <th>PE</th>
          <th>PP</th>
          <th>GF</th>
          <th>GC</th>
          <th>Dif</th>
          <th>Pts</th>
        </thead>
        <tbody>
          <tr *ngFor="let equipo of grupo[0]">
            <td>{{equipo.nombre}}</td>
            <td>{{equipo.partidosJugados}}</td>
            <td>{{equipo.partidosGanados}}</td>
            <td>{{equipo.partidosEmpatados}}</td>
            <td>{{equipo.partidosPerdidos}}</td>
            <td>{{equipo.golesAFavor}}</td>
            <td>{{equipo.golesEnContra}}</td>
            <td>{{equipo.diferenciaGoles}}</td>
            <td>{{equipo.puntos}}</td>
          </tr>
        </tbody>
      </table>
      <div class="espacio"> </div>
      <table class="table table-bordered table-striped">
        <thead>
          <th>Equipo</th>
          <th>Resultado</th>
          <th>Equipo</th>
        </thead>
        <tbody>
          <tr *ngFor="let partido of grupo[1]">
            <td>{{partido.equipoUno}}</td>
            <td>{{partido.golesLocal}} - {{partido.golesVisitante}}</td>
            <td>{{partido.equipoDos}}</td>
          </tr>
        </tbody>
      </table>
      <div class="espacio"> </div>
    </div>
  </div>
</div>