<div class="container centrado">
  <div *ngFor="let grupo of gruposService.grupos[0]">
    <h1>Grupo {{grupo[0][0].grupo}}</h1>
    <div>
      <table class="table table-bordered table-striped">
        <thead class="text-center">
          <th>Equipo</th>
          <th>PJ</th>
          <th>PG</th>
          <th>PE</th>
          <th>PP</th>
          <th>GF</th>
          <th>GC</th>
          <th>Dif</th>
          <th>Pts</th>
        </thead>
        <tbody>
          <tr *ngFor="let equipo of grupo[0]">
            <td>{{equipo.nombre}}</td>
            <td>{{equipo.partidosJugados}}</td>
            <td>{{equipo.partidosGanados}}</td>
            <td>{{equipo.partidosEmpatados}}</td>
            <td>{{equipo.partidosPerdidos}}</td>
            <td>{{equipo.golesAFavor}}</td>
            <td>{{equipo.golesEnContra}}</td>
            <td>{{equipo.diferenciaGoles}}</td>
            <td>{{equipo.puntos}}</td>
          </tr>
        </tbody>
      </table>
      <div class="espacio"> </div>
      <table class="table table-bordered table-striped">
        <thead *ngIf="grupo[1].length > 0">
          <th>Equipo</th>
          <th>Resultado</th>
          <th>Equipo</th>
        </thead>
        <tbody>
          <tr *ngFor="let partido of grupo[1]">
            <td>{{partido.equipoUno}}</td>
            <td *ngIf="partido.golesLocal != -1 && partido.GolesVisitante != -1; else noJugado">{{partido.golesLocal}} - {{partido.golesVisitante}}</td>
            <ng-template #noJugado> - </ng-template>
            <td>{{partido.equipoDos}}</td>
            <td *ngIf="globals.activo"><a (click)="editForm(partido)">
              <i class="glyphicon-pencil"></i>
            </a></td>
          </tr>
        </tbody>
      </table>
      <div class="espacio"> </div>
    </div>
  </div>
  <div>
    <table class="table table-bordered table-striped">
        <thead>
          <th>Equipo</th>
          <th>Resultado</th>
          <th>Equipo</th>
        </thead>
        <tbody>
          <tr *ngFor="let partido of gruposService.grupos[1]">
            <td>{{partido.equipoUno}}</td>
            <td *ngIf="partido.golesLocal != -1 && partido.GolesVisitante != -1; else noJugado">{{partido.golesLocal}} - {{partido.golesVisitante}}</td>
            <ng-template #noJugado> - </ng-template>
            <td>{{partido.equipoDos}}</td>
            <td *ngIf="globals.activo"><a (click)="editForm(partido)">
              <i class="glyphicon-pencil"></i>
            </a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div *ngIf="globals.activo" class="container">
  <form role="form" #PartidoForm="ngForm">
    <input type="hidden" name="id_partido" [(ngModel)]="gruposService.selectedPartido.id_partido" #id_partido="ngModel" >
    <div class="form-group">
      <label for="EquipoUno">Equipo Uno</label>
      <input type="text" class="form-control" name="equipoUno" [(ngModel)]="gruposService.selectedPartido.equipoUno" #equipoUno="ngModel" required
      placeholder="Equipo Uno">
    </div>
    <div class="form-group">
      <label for="GolesLocal">Goles Local</label>
      <input type="number" class="form-control" name="golesLocal" [(ngModel)]="gruposService.selectedPartido.golesLocal" #golesLocal="ngModel" required
            placeholder="Goles Local">
    </div> 
    <input type="hidden" name="penalesLocal" [(ngModel)]="gruposService.selectedPartido.penalesLocal" #penalesLocal="ngModel" >
    <div class="form-group">
      <label for="equipoDos">Equipo Dos</label>
      <input type="text" class="form-control" name="equipoDos" [(ngModel)]="gruposService.selectedPartido.equipoDos" #equipoDos="ngModel" required
      placeholder="Equipo Dos">
    </div>
    <div class="form-group">
      <label for="GolesVisitante">Goles Visitante</label>
      <input type="number" class="form-control" name="golesVisitante" [(ngModel)]="gruposService.selectedPartido.golesVisitante" #golesVisitante="ngModel" required
            placeholder="Goles Visitante">
    </div> 
    <input type="hidden" name="penalesVisitante" [(ngModel)]="gruposService.selectedPartido.penalesVisitante" #penalesVisitante="ngModel" >
    <input type="hidden" name="anio" [(ngModel)]="gruposService.selectedPartido.anio" #anio="ngModel" >
    <input type="hidden" name="torneo" [(ngModel)]="gruposService.selectedPartido.torneo" #torneo="ngModel" >
    <button type="submit" class="btn btn-default" (click)="editPartido(PartidoForm.value.torneo,PartidoForm.value.anio,PartidoForm)">Enviar</button>
    <button type="submit" class="btn btn-default" (click)="resetForm(PartidoForm)">Limpiar</button>
  </form>
</div>