<nav class="nav navbar navbar-default navbar-fixed-top">
    <div class="container">
            <div class="container">
                <a [routerLink]="['inicio']">
                    <img class="col-sm-1" width="70px" height="70px" src="../assets/imagenes/club-atletico-ayacucho2.png">
                </a>
                <a href="https://www.facebook.com/Torneo-Nacional-de-F%C3%BAtbol-Infantil-633176683801882/" target="_blank">
                    <img class="col-sm-1" width="70px" height="70px" src="../assets/imagenes/logo-facebook.png">
                </a>
                <a href="https://www.youtube.com/channel/UCFjMuTrrAohkqH6rGUjRRmA/featured" target="_blank">
                    <img class="col-sm-1" width="70px" height="70px" src="../assets/imagenes/logo-youtube.png">
                </a>
                <a target="_blank">
                    <img class="col-sm-1" width="70px" height="70px" src="../assets/imagenes/logo-instagram.png">
                </a>
                <div class="col-sm-2"></div>
                <h1 class="col-sm-6">Club Atlético Ayacucho</h1>
            </div>
            <ul class="nav">
                <li><a [routerLink]="['inicio']">Inicio</a></li>
                <li><a>Torneo Nacional</a>
                    <ul>
                        <li><a [routerLink]="['/grupos','0','2019']">Fase de grupos</a></li>
                        <li><a [routerLink]="['/copaOro','0','2019']">Copa de Oro</a></li>
                        <li><a [routerLink]="['/copaPlata','0','2019']">Copa de Plata</a></li>
                        <li><a [routerLink]="['/goleadores','0','2019']">Goleadores</a></li>
                    </ul>
                </li>
                <li><a>Torneo Paralelo</a>
                    <ul>
                        <li><a [routerLink]="['/grupos','1','2019']">Fase de grupos</a></li>
                        <li><a [routerLink]="['/copaOro','1','2019']">Copa de Oro</a></li>
                        <li><a [routerLink]="['/copaPlata','1','2019']">Copa de Plata</a></li>
                        <li><a [routerLink]="['/goleadores','1','2019']">Goleadores</a></li>
                    </ul>
                </li>
                <li><a>Torneo Pasados</a>
                    <ul>
                            <li><a>Torneo Nacional 2018</a>
                                <ul>
                                    <li><a [routerLink]="['/grupos','0','2018']">Fase de grupos</a></li>
                                    <li><a [routerLink]="['/copaOro','0','2018']">Copa de Oro</a></li>
                                    <li><a [routerLink]="['/copaPlata','0','2018']">Copa de Plata</a></li>
                                    <li><a [routerLink]="['/goleadores','0','2018']">Goleadores</a></li>>
                                </ul>
                            </li>
                            <li><a>Torneo Paralelo 2018</a>
                                <ul>
                                    <li><a [routerLink]="['/grupos','1','2018']">Fase de grupos</a></li>
                                    <li><a [routerLink]="['/copaOro','1','2018']">Copa de Oro</a></li>
                                    <li><a [routerLink]="['/copaPlata','1','2018']">Copa de Plata</a></li>
                                    <li><a [routerLink]="['/goleadores','1','2018']">Goleadores</a></li>
                                </ul>
                            </li>
                    </ul>
                </li>
                <li><a [routerLink]="['jugadores']">Jugadores</a></li>
                <li><a [routerLink]="['historia']">Historia</a></li>
                <li><a [routerLink]="['torneosPasados']">Resultados</a></li>
            </ul>
        </div>
</nav>

<div class="container">
    <h2>Torneo Internacional de Fútbol Infantil</h2>
    <h3>Copa Ciudad de Ayacucho</h3>
</div>
<router-outlet></router-outlet>