nav{
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family:  monospace,'Courier New', Courier; 
}

nav h1 {
    text-align: right;
}

.navbar-default {
    border: 0px;
}