<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <img class="col-sm-1" src="../assets/imagenes/club-atletico-ayacucho.png">
        <div class="col-sm-5"></div>
        <h1 class="col-sm-6">Club Atlético Ayacucho</h1>
    </div>
    <div class="container">
        <div class="btn-group">
            <button (click)="(cambiarRuta('inicio'))" type="button" class="btn btn-default">Inicio</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Torneo Nacional <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a [routerLink]="['grupos/0/2018']" (click)="cambiarRuta('grupos')">Fase de grupos</a></li>
                <li><a href="#" (click)="cambiarRuta('copaOro')">Copa de oro</a></li>
                <li><a href="#" (click)="cambiarRuta('copaPlata')">Copa de plata</a></li>
                <li><a [routerLink]="['goleadores?to=0&a=2018']" (click)="cambiarRuta('goleadores')">Goleadores</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Torneo Paralelo <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Fase de grupos</a></li>
                    <li><a href="#">Copa de oro</a></li>
                    <li><a href="#">Copa de plata</a></li>
                    <li><a href="#">Goleadores</a></li>
            </ul>
        </div>
        <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Torneos pasados <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Torneo nacional 2018</a></li>
                    <li><a href="#">Torneo paralelo 2018</a></li>
                </ul>
            </div>
            <div class="btn-group">
                    <button type="button" class="btn btn-default">Historia</button>
                </div>
    </div>
</nav>
<div class="container">
    <h1>Torneo Internacional de Fútbol Infantil</h1>
    <h2>Copa Ciudad de Ayacucho</h2>
</div>
<div *ngIf="globalService.ruta == 'grupos'">
    <app-grupos></app-grupos>
</div>
<div *ngIf="globalService.ruta == 'copaOro'">
    <app-copa-oro></app-copa-oro>
</div>
<div *ngIf="globalService.ruta == 'copaPlata'">
    <app-copa-plata></app-copa-plata>
</div>
<div *ngIf="globalService.ruta == 'goleadores'">
    <app-goleadores></app-goleadores>
</div>