<div class="container">
  <div *ngFor="let instancia of copaPlataService.instancias">
    <div *ngIf="instancia[1].length > 0;">
      <h1>{{instancia[0][0]}}</h1>
      <div>
        <table class="table table-bordered table-striped">
          <thead><th>Equipo</th><th>Penales</th><th>Resultado</th><th>Penales</th><th>Equipo</th></thead>
          <tbody>
            <tr *ngFor="let partido of instancia[1]">
                <td>{{partido.equipoUno}}</td>
                <td *ngIf="partido.penalesLocal != -1; else noPenales">{{partido.penalesLocal}}</td>
                <td>{{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                <td *ngIf="partido.penalesVisitante != -1; else noPenales">{{partido.penalesVisitante}}</td>
                <ng-template #noPenales> - </ng-template>
                <td>{{partido.equipoDos}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
