<div class="container">
  <div *ngFor="let instancia of copaPlataService.instancias">
    <div *ngIf="instancia[1].length > 0;">
      <h1>{{instancia[0][0]}}</h1>
      <div>
        <table class="table table-bordered table-striped">
          <thead><th>Equipo</th><th>Penales</th><th>Resultado</th><th>Penales</th><th>Equipo</th></thead>
          <tbody>
            <tr *ngFor="let partido of instancia[1]">
                <td>{{partido.equipoUno}}</td>
                <td *ngIf="partido.penalesLocal == -1 || partido.id_equipoUno == partido.id_equipoDos; else penalesUno"> - </td>
                <ng-template #penalesUno><div style="margin: 9%;">{{partido.penalesLocal}}</div></ng-template>
                <td *ngIf="(partido.id_equipoUno != partido.id_equipoDos) && (partido.golesLocal != -1 && partido.golesVisitante != -1); else noPenales">{{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                <ng-template #noPenales ><div style="margin: 9%;"> - </div></ng-template>
                <td *ngIf="partido.penalesVisitante == -1 || partido.id_equipoUno == partido.id_equipoDos; else penalesDos"> - </td>
                <ng-template #penalesDos><div style="margin: 9%;">{{partido.penalesVisitante}}</div></ng-template>
                <td *ngIf="partido.id_equipoUno != partido.id_equipoDos; else libre">{{partido.equipoDos}}</td>
                <ng-template #libre><div style="margin-top: 1.5%; margin-bottom: 1.5%">LIBRE</div></ng-template>
                <td *ngIf="globals.activo"><a (click)="editForm(partido)">
                  <i class="glyphicon-pencil"></i>
                </a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="globals.activo" class="container">
  <form role="form" #PartidoForm="ngForm">
    <input type="hidden" name="id_partido" [(ngModel)]="copaPlataService.selectedPartido.id_partido" #id_partido="ngModel" >
    <div class="form-group">
      <label for="EquipoUno">Equipo Uno</label>
      <input type="text" class="form-control" name="equipoUno" [(ngModel)]="copaPlataService.selectedPartido.equipoUno" #equipoUno="ngModel" required
      placeholder="Equipo Uno">
    </div>
    <div class="form-group">
      <label for="GolesLocal">Goles Local</label>
      <input type="number" class="form-control" name="golesLocal" [(ngModel)]="copaPlataService.selectedPartido.golesLocal" #golesLocal="ngModel" required
             placeholder="Goles Local">
    </div> 
    <div class="form-group">
      <label for="PenalesLocal">Penales Local</label>
      <input type="number" class="form-control" name="penalesLocal" [(ngModel)]="copaPlataService.selectedPartido.penalesLocal" #penalesLocal="ngModel" required
             placeholder="Penales Local">
    </div>
    <div class="form-group">
      <label for="equipoDos">Equipo Dos</label>
      <input type="text" class="form-control" name="equipoDos" [(ngModel)]="copaPlataService.selectedPartido.equipoDos" #equipoDos="ngModel" required
      placeholder="Equipo Dos">
    </div>
    <div class="form-group">
      <label for="GolesVisitante">Goles Visitante</label>
      <input type="number" class="form-control" name="golesVisitante" [(ngModel)]="copaPlataService.selectedPartido.golesVisitante" #golesVisitante="ngModel" required
             placeholder="Goles Visitante">
    </div> 
    <div class="form-group">
      <label for="PenalesVisitante">Penales Visitante</label>
      <input type="number" class="form-control" name="penalesVisitante" [(ngModel)]="copaPlataService.selectedPartido.penalesVisitante" #penalesVisitante="ngModel" required
             placeholder="Penales Visitante">
    </div>
    <input type="hidden" name="anio" [(ngModel)]="copaPlataService.selectedPartido.anio" #anio="ngModel" >
    <input type="hidden" name="torneo" [(ngModel)]="copaPlataService.selectedPartido.torneo" #torneo="ngModel" >
    <button type="submit" class="btn btn-default" (click)="editPartido(PartidoForm.value.torneo,PartidoForm.value.anio,PartidoForm)">Enviar</button>
    <button type="submit" class="btn btn-default" (click)="resetForm(PartidoForm)">Limpiar</button>
  </form>
</div>