<div class="container">
  <div *ngFor="let instancia of copaOroService.instancias">
    <div *ngIf="instancia[1].length > 0;">
      <h1>{{instancia[0][0]}}</h1>
      <div>
        <table class="table table-bordered table-striped">
         <thead><th>Equipo</th><th>Penales</th><th>Resultado</th><th>Penales</th><th>Equipo</th></thead>
         <tbody>
            <tr *ngFor="let partido of instancia[1]">
                <td>{{partido.equipoUno}}</td>
                <td *ngIf="partido.penalesLocal == -1 || partido.id_equipoUno == partido.id_equipoDos; else penalesUno"> - </td>
                <ng-template #penalesUno><div style="margin: 9%;">{{partido.penalesLocal}}</div></ng-template>
                <td *ngIf="partido.id_equipoUno != partido.id_equipoDos; else noPenales">{{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                <ng-template #noPenales> - </ng-template>
                <td *ngIf="partido.penalesVisitante == -1 || partido.id_equipoUno == partido.id_equipoDos; else penalesDos"> - </td>
                <ng-template #penalesDos><div style="margin: 9%;">{{partido.penalesVisitante}}</div></ng-template>
                <td *ngIf="partido.id_equipoUno != partido.id_equipoDos; else libre">{{partido.equipoDos}}</td>
                <ng-template #libre><div style="margin-top: 1.5%; margin-bottom: 1.5%">LIBRE</div></ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
