<div class="container">
    <p>
        Corrían los años 90 y el Club Atlético Ayacucho participaba de distintos encuentros y torneos en la
        región con sus divisiones infantiles. Para la Institución fue prioridad la actividad de sus categorías
        formativas, y en función de ese objetivo concurría a distintos puntos de la provincia.
    </p>
    <p>
        Surge entonces desde la dirigencia albirroja y de las comisiones de padres, la inquietud de organizar
        algún evento de características similares a los que se visitaba. A mediados de los 90´ se organizan los
        primeros encuentros y torneos zonales, para lanzarse definitivamente a la concreción del 1° Torneo
        Nacional Ciudad de Ayacucho, en febrero de 1997.
    </p>
    <p>
        En esa oportunidad concurrieron como Instituciones invitadas de A.F.A. el Club Atlético Boca Juniors y
        el Club Estudiantes de la Plata. A partir de allí la categoría participante será la sub-12, por lo cual el primer
        torneo la protagonizo la clase 1984.
    </p>    
    <p>
        Junto a los mencionados equipos Afistas mencionados, tomaron parte del evento, Clubes de Tandil,
        Azul, Bahía Blanca, Mar del Plata, Dolores, Olavarría, La Flores, por mencionar algunos.
    </p>
    <p>
        El torneo fue creciendo en participantes y trascendencia. Equipos como Boca Juniors, Racing de
        Avellaneda, Independiente de Avellaneda, Lanús, Banfield, River Plate, San Lorenzo de Almagro, Vélez Sarsfield fueron 
        participantes asiduos del certamen. También nos visitaron Paulistihna de Brasil y Nacional y River Plate de Uruguay.
    </p>
    <p>
        A partir del 4° Torneo se le anexó un torneo paralelo sub-10, que acompaña al Torneo Nacional en las
        distintas canchas auxiliares del certamen. El mismo, que se desarrollaba durante tres días consecutivos,
        y que llegó a reunir 32 equipos distribuidos en zonas de 4 cada una, se llegó a disputar durante 12 años
        de manera consecutiva.
    </p>
    <p>
        Razones económicas y de cambios políticos en la Institución, obligaron a un impase, a partir del año
        2009, en el cual se encararon otro tipo de acciones, como la construcción de un predio propio, hoy
        orgullo del Club.
    </p>
    <p>
        Pero la dirigencia jamás abandonó la idea de retomar la organización del Torneo Nacional, que se había
        transformado en un clásico de la ciudad y de la región.
    </p>
    <p>
        Es por ello que en la primera semana de febrero de 2016 organizamos el 13° Torneo Nacional Ciudad
        de Ayacucho, sub 12, reservado para la categoría 2003.
    </p>
</div>