table {
    text-align: center;
    font-weight: bold;
}

th {
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: red;
    color: white;
  }

  .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
    color: red;
  }