<div *ngIf="globals.activo" class="container centrado">
  <h1 class="text-center">VALLAS MENOS INVICTAS</h1>
  <div class="espacio"></div>
  <div>
    <table class="table table-bordered table-striped">
      <thead class="text-center">
        <th>Equipo</th>
        <th>Goles en Contra</th>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of vallaInvictaService.equipos">
          <td>{{equipo.nombre}}</td>
          <td>{{equipo.golesEnContraTotal}}</td>
        </tr>
      </tbody>
    </table>
    <div class="espacio"> </div>  
  </div>
</div>
