<div>
    <p>Los siguiente jugadores pasaron por nuestro torneo</p>
    <div class="container col-md-6">
        <div class="slider">
            <ul>
                <li>
                    <h1>Fernando Gago</h1>
                    <img src="../../../assets/imagenes/FernandoGago.jpg" alt="">
                </li>
                <li>
                    <h1>Kun Agüero</h1>
                    <img src="../../../assets/imagenes/KunAgüero.jpg" alt="">
                </li>
                <li>
                    <h1>Gabriel Mercado</h1>
                    <img src="../../../assets/imagenes/GabrielMercado.jpg " alt="">
                </li>
                <li>
                    <h1>Nicolas Sánchez</h1>
                    <img src="../../../assets/imagenes/NicolasSanchez.jpg " alt="">
                </li>
                <li>
                    <h1>Juan Sánchez Miño</h1>
                    <img src="../../../assets/imagenes/SanchezMiño.jpg" alt="">
                </li>
                <li>
                    <h1>Cristian Erbes</h1>
                    <img src="../../../assets/imagenes/CristianErbes.jpg  " alt="">
                </li>
                <li>
                    <h1>Martin Michel</h1>
                    <img src="../../../assets/imagenes/MartinMichel.jpg" alt="">
                </li>
                <li>
                    <h1>Emanuel Insua</h1>
                    <img src="../../../assets/imagenes/EmanuelInsua.jpg" alt="">
                </li>
                <li>
                    <h1>Yamil Asad</h1>
                    <img src="../../../assets/imagenes/YamilAsad.jpg" alt="">
                </li>
                <li>
                    <h1>Matías Abelairas</h1>
                    <img src="../../../assets/imagenes/Matias Abelairas.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="container col-md-6">
        <div class="slider">
            <ul>
                <li>
                    <h1>Matías Alustiza</h1>
                    <img src="../../../assets/imagenes/MatiasAlustiza.jpg" alt="">
                </li>
                <li>
                    <h1>Leandro Díaz</h1>
                    <img src="../../../assets/imagenes/LeandroDiaz.jpg" alt="">
                </li>
                <li>
                    <h1>Luis Escalada</h1>
                    <img src="../../../assets/imagenes/LuisEscalada.jpg" alt="">
                </li>
                <li>
                    <h1>Maximiliano Timpanaro</h1>
                    <img src="../../../assets/imagenes/MaximilianoTimpanaro.jpg" alt="">
                </li>
                <li>
                    <h1>Jonathan Cristaldo</h1>
                    <img src="../../../assets/imagenes/JonathanCristaldo.jpg  " alt="">
                </li>
                <li>
                    <h1>Nicolas Colazo</h1>
                    <img src="../../../assets/imagenes/NicolasColazo.jpg" alt="">
                </li>
                <li>
                    <h1>Mariano Echeverría</h1>
                    <img src="../../../assets/imagenes/MarianoEcheverria.jpg" alt="">
                </li>
                <li>
                    <h1>Facundo Oreja</h1>
                    <img src="../../../assets/imagenes/FacundoOreja.jpg" alt="">
                </li>
                <li>
                    <h1>Emiliano Buendia</h1>
                    <img src="../../../assets/imagenes/EmilianoBuendia.jpg" alt="">
                </li>
                <li>
                    <h1>Joaquín Laso</h1>
                    <img src="../../../assets/imagenes/JoaqunLaso.jpg  " alt="">
                </li>
            </ul>
        </div>
    </div>
</div>